.card-price {
    width: 25%;
}

.card-list {
    list-style: none;
    padding: 2px;
}

.card-body {
    /*margin: 50px;*/
    border-radius: 15px;


}

.head {
    text-align: center;
    padding: 25px;
}

.que {
    text-align: center;
    padding: 25px;
}